**/node_modules/**
**/.pnp
**/.pnp.*
**/.yarn/**
**/.cache/**
**/.npm/**
**/dist/**
**/build/**
**/.next/**
**/out/**
**/coverage/**
**/.turbo/**
**/.vercel/**

**/.idea/**
**/.vscode/**
**/.DS_Store
**/*.tsbuildinfo
**/*.min.*

# generated / non-prettier-friendly
**/generated/prisma/**
**/prisma/migrations/**

# lockfiles
**/package-lock.json

